# Build files
/target/
.class
!.mvn/wrapper/maven-wrapper.jar

# Website
/www/

# Licensing stuff
LicenseClientConfiguration.java
LicenseClientImpl.java
LicenseClientImplTest.java

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

devtaskhub.log*

